<script src="js/main.js"></script>
<div class="search">
    <input type="text" id="upcoming" placeholder="Search movie by tag:">
    <input type="button" value="Search" onclick="getMovies()">
</div>
<div id="data-wrapper" class="movie-wrapper"></div>

