<!DOCTYPE html>
<html lang="ro">
<head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Cinema3D</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/asteptare">Upcoming</a>
        <a href="/rezervare">Reservation</a>
        <a href="/mybilets">My Bilets</a>
    </nav>
    <%- body -%>
</body>
</html>